body {
  background-color: ghostwhite;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 101vh;
}

input, textarea {
  text-align: center;
  border: 1px solid rgb(52, 52, 52) !important;
}

.row {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

h4 {
  margin-bottom: 0;
}

hr {
  border-top: 0;
  clear: both;
  margin: auto;
}

.columns {
  padding: 0;
  margin-top: 1rem;
}

.row .row {
  margin: 0 auto;
}

.bold {
  text-decoration: bold;
}

span {
  transition: all 1s;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@import "./components/_todos",
"./components/_addForm";
