<!DOCTYPE html>
<html>
<head>
  <title>Expressgular</title>
  <link rel="stylesheet" href="/bower_components/foundation-sites/dist/foundation.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body ng-app='sample'>
  <ui-view>
  </ui-view>

  <script src="/bower_components/angular/angular.js" charset="utf-8"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js" charset="utf-8"></script>
  <script src="/bower_components/foundation-sites/dist/foundation.js" charset="utf-8"></script>
  <script src="/javascripts/module.js" charset="utf-8"></script>
</body>
</html>
