<div class="row">
  <h1 align='center'>To Do App</h1>
  <hr>
  <div class="columns small-offset-1 small-7">
    <table>
      <thead>
        <tr>
          <th>Completed?</th>
          <th>Description:</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="todo in todos">
          <td>
            <input type="checkbox" ng-checked="todo.completed" ng-click="toggleComplete(todo._id, !todo.completed)"/>
          </td>
          <td ng-class="todo.completed ? 'done' : 'bold' ">
            {{todo.description}}
          </td>
          <td><a href=""><span ng-click="remove(todo._id)" class="glyphicon glyphicon-remove-circle"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div align='center' id="add-form" class="columns small-3">

    <form ng-submit="addTask(task)">
      <span class="label">Title</span><br>
      <input type="text" placeholder="Title" ng-model="task.title" required/>
      <span class="label">Description</span><br>
      <textarea placeholder="Description" ng-model="task.description" name="name" rows="5"></textarea>
      <span class="label">Deadline</span><br>
      <input class="date" ng-model="task.deadline" type="date" min="{{today}}">
      <button type="submit" class='button small'>Add Task</button>
    </form>
  </div>
  <div class="small-1 columns"></div>
</div>
