<div class="row">
  <h1 align='center'>To Do App</h1>
  <hr>
  <div class="columns small-offset-1 small-5">
    <div class="row">
      <div class="columns small-4">
        <ul class="tabs vertical" id="todos" data-tabs>
          <li class="tabs-title"><a href="#notCompleted">To Do</a></li>
          <li class="tabs-title"><a href="#completed">To Done</a></li>
        </ul>
      </div>
      <div class="columns small-8">

        <div class="tabs-content vertical" data-tabs-content="todos">
          <div class="tabs-panel" id="notCompleted">
            <p>test1</p>
          </div>
          <div class="tabs-panel" id="completed">
            notest
          </div>
        </div>

      </div>

    </div>


  </div>

  <div align='center' id="add-form" class="columns small-3 small-offset-2 end">

    <form ng-submit="addTask(task)">
      <span class="label">Title</span><br>
      <input type="text" placeholder="Title" ng-model="task.title" required/>
      <span class="label">Description</span><br>
      <textarea placeholder="Description" ng-model="task.description" name="name" rows="3"></textarea>
      <span class="label">Deadline</span><br>
      <input class="date" ng-model="task.deadline" type="date" min="{{today}}">
      <button type="submit" class='button small'>Add Task</button>
    </form>
  </div>
</div>
