<div class="row ">
  <div class="columns small-9">
    <table>
      <thead>
        <tr>
          <th>Completed?</th>
          <th>Description:</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="todo in todos">
          <td>
            <input type="checkbox" ng-checked="todo.completed" ng-click="toggleComplete(todo._id, !todo.completed)"/>
          </td>
          <td ng-class="todo.completed ? 'done' : 'bold' ">
            {{todo.description}}
          </td>
          <td><a href=""><span ng-click="remove(todo._id)" class="glyphicon glyphicon-remove-circle"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="add-form" class="columns small-3">

    <form ng-submit="addTask(task)">
      Title<br>
      <input type="text" placeholder="Title" ng-model="task.title" required/>
      Description<br>
      <textarea ng-model="task.description" name="name" rows="5"></textarea>
      Deadline<br>
      <input ng-model="task.deadline" type="date" ng-min="{{todayDate}}">
      <button type="submit" class='btn btn-xs btn-info'>Add Task</button>
    </form>
  </div>
</div>
