<div class="row">
  <h1 align='center'>To Do App</h1>
  <hr>
  <div class="columns small-12 medium-offset-1 medium-5">
    <div class="row">
      <div class="columns small-4">
        <ul class="tabs vertical" id="todos" data-tabs>
          <li class="tabs-title"><a ng-class="{'active': location.name==='todo'}" ng-click="applyFilter('!')" ui-sref="tasks.todo">To Do</a></li>
          <li class="tabs-title"><a ng-class="{'active': location.name==='done'}" ng-click="applyFilter('')" ui-sref="tasks.done">Done</a></li>
          <li class="tabs-title"><a ng-class="{'active': location.name==='all'}" ng-click="applyFilter(null)" ui-sref="tasks.all">All</a></li>
        </ul>
      </div>
      <div class="columns small-8">
        <div class="tabs-content vertical" data-tabs-content="todos">
          <div class="tabs-panel is-active" id="tasks">
            <ul ng-repeat="todo in displayTodos track by $index" class="vertical menu top-layer" foundation-repeat data-accordion-menu>
              <li>
                <a href="#">{{todo.title}}</a>
                <ul class="veritcal menu nested">
                  <li><a href="#">Dates</a>
                    <ul class="veritcal menu nested">
                      <li class="vertical-label">Date Posted:</li>
                      <li><a href="#">{{todo.datePosted.toDateString()}}</a></li>
                      <li class="vertical-label">Deadline:</li>
                      <li><a href="#">{{todo.deadline.toDateString() || "No Deadline"}}</a></li>
                      <li ng-if="todo.isCompleted" class="vertical-label">Was Completed On:</li>
                      <li ng-if="todo.isCompleted"><a href="#">{{todo.dateCompleted.toDateString()}}</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="veritcal menu nested">
                  <li><a href="#">Edit</a>
                    <ul class="veritcal menu nested">
                      <li> <span class="first" ng-class="{'done': todo.isCompleted}">Complete</span><span ng-class="{'hidden':todo.isCompleted}">d?</span> &nbsp; <input class="checkbox" ng-checked="todo.isCompleted" ng-click="toggleComplete(todo._id, !todo.isCompleted)" type="checkbox">
                      </li>
                      <li><a href ng-click="remove(todo._id)">Delete</a></li>
                      <li><a href>Change Deadline</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>


  </div>

  <div align='center' id="add-form" class="columns medium-3 small-12 medium-offset-2 end">

    <form ng-submit="addTask(task)">
      <span class="label">Title</span><br>
      <input type="text" placeholder="Title" ng-model="task.title" required/>
      <span class="label">Description</span><br>
      <textarea placeholder="Description" ng-model="task.description" name="name" rows="3"></textarea>
      <span class="label">Deadline</span><br>
      <input class="date" ng-model="task.deadline" type="date" min="{{today}}">
      <button type="submit" class='button small'>Add Task</button>
    </form>
  </div>
</div>
