body {
  background-color: ghostwhite;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 105vh;
}

.tabs>.tabs-title{
  border: 1px solid rgb(221, 221, 221);
}

.vertical-label {
  background-color: lightgrey;
  width: 200px;
}

.checkbox {
  border: 1px solid black;
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

button.button {
  border: 3px solid transparent;
  border-right-color: black;
  border-bottom-color: black;
  transition: all 0s;
  border-radius: 3px;
}

button.button:hover{
  background-color: auto;
  border: 3px solid transparent;
  border-left-color: black;
  border-top-color: black;
}

ul.vertical.menu li {
  display: block !important;
  text-align: left;
}

ul.vertical.menu.top-layer {
  margin-bottom: 40px;
  border: 1px solid black;
}

.label {
  width: 100%;
  font-size: 24px;
  color: black;
  background-color: whitesmoke;
}

input, textarea {
  text-align: center;
}

.row {
  background-color: white;
  height: 100%;
  text-align: center;
}

.columns{
}

#add-form {
  border: 1px solid grey;
  background-color: ghostwhite;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.hidden {
  color: white;
}

.bold {
  text-decoration: bold;
}

span {
  transition: all 1s ease;
}

.menu>li>span.first{
  padding-left: 16px;
}

a.active{
  background-color: grey;
}
